<div class="ui form text-white">
  <div class="two equal width fields mb-1">
    <div class="required field">
      <label>Départ</label>
      <select (change)="setReturn()" [(ngModel)]="from" class="ui fluid search dropdown" name="from">
        <option value="">Séléctionner</option>
        <option *ngFor="let item of departures" [value]="item">{{item | titlecase}}</option>
      </select>
    </div>
    <div class="required field">
      <label>Déstination</label>
      <select [(ngModel)]="to" [disabled]="from === ''" class="ui fluid search dropdown" name="to">
        <option value="">Séléctionner</option>
        <option *ngFor="let item of arrivals" [value]="item">{{item | titlecase}}</option>
      </select>
    </div>
  </div>
  <div class="two equal width fields mb-0">
    <div class="required field">
      <!--      <label>Passager</label>-->
      <!--      <select [(ngModel)]="passengers" class="ui fluid dropdown" name="passenger">-->
      <!--        <option value="1">1</option>-->
      <!--        <option value="2">2</option>-->
      <!--        <option value="3">3</option>-->
      <!--        <option value="4">4</option>-->
      <!--        <option value="5">5</option>-->
      <!--      </select>-->
    </div>
    <div class="field" style="height: 50px">
      <div (click)="searchBus()" class="search_btn ui right floated orange button">Rechercher</div>
    </div>
  </div>
</div>
