#ticket-container {
  border-radius: 5px;
  border: 1px outset aquamarine;
  padding: 7px;
  margin-bottom: 10px;
}

.step1 > div:first-child {
  width: 50%;
}

.step1 > div:last-child {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .step-1 {
    width: 100%;
  }

  .step-1 > div {
    width: 100% !important;
  }

  .step-1 {
    margin-bottom: 10px;
  }

}
