.sgt {
  margin-bottom: 12px !important;
}

.sgt:last-child {
  margin-bottom: 0 !important;
}

.tooltipClass {
  font-size: 14px;
  font-weight: normal;
  background-color: #FF6600;
  color: white;
}

* {
  font-size: 14px;
  font-family: Ubuntu, "Open Sans", roboto, sans-serif;
  font-weight: 600;
}

.ticket-container {
  margin: 5px 15px;
  width: 300px;
  height: 400px;
}

.ticket-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 222px;
}

.ticket-header > img {
  z-index: 2;
  width: 100%;
  height: 144px;
}

.ticket-header > qrcode {
  z-index: 3;
  position: relative;
  bottom: 15px;
}

hr {
  margin: 0 2px;
  border-color: black;
}

.ticket-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ticket-body > span {
  margin-bottom: 1px;
  width: 100%;
  line-height: 16px;
  text-align: center;
}

.ticket-body > span:last-child {
  color: #FF6600;
}

.logo-container > p {
  margin-bottom: 1px;
  font-size: 12px;
}

.logo-container:first-child > img {
  width: 120px;
  height: 50px;
}

.logo-container:last-child > img {
  width: 60px;
  height: 50px;
}

.ticket-footer {
  background-color: black;
  height: 22px;
  color: white;
  font-size: 13px;
  margin-top: 2px;
  padding-right: 10px;
  font-family: ubuntu, "open sans", sans-serif;
  font-weight: 900;
}


@media print {
  .ticket-container {
    width: 7.4cm;
    height: 10.5cm;
    margin: 0;
    page-break-after: always;
  }

  .ticket-container:last-child {
    page-break-after: avoid;
  }

  * {
    font-size: 11px;
    font-family: Ubuntu, "Open Sans", roboto, sans-serif;
    font-weight: 600;
  }

  .ticket-container {
    margin: 50px;
    width: 210px;
    height: 298px;
  }

  .ticket-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 140px;
  }

  hr {
    margin: 0;
    border-color: black;
  }

  .ticket-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .ticket-body > span {
    margin-bottom: 0;
    width: 100%;
    line-height: 13px;
    text-align: center;
  }

  .ticket-body > span:last-child {
    color: #FF6600;
  }

  .ticket-header > img {
    z-index: 2;
    width: 100%;
    height: 80px;
  }

  .ticket-header > qrcode {
    z-index: 3;
    position: relative;
    bottom: 15px;
  }

  .logo-container > p {
    margin-bottom: 0;
  }

  .logo-container > img {
    width: 50px;
    height: 40px;
  }

  .ticket-footer {
    background-color: black;
    height: 22px;
    color: white;
    font-size: 14px;
    margin-top: 3px;
    padding-right: 5px;
    font-family: ubuntu, "open sans", sans-serif;
    font-weight: 900;
  }
}
