<div *ngIf="currentStep === 1" class="ui raised segments p-2">
  <div class="ui dividing header">Info</div>
  <ol class="ui list h7">
    <li value="*">Les billets sont individuels et ne sont pas interchangeables.</li>
    <li value="*">Si vous souhaitez acheter des billets avec différentes catégories, assurez-vous de lier chaque personne à sa catégorie.
      Les réclamations ne seront pas prises en compte le jour de l'événement.
    </li>
    <li value="*">Si vous ne savez pas encore comment distribuer les billets, veuillez suivre la procédure suivante:
      <ol>
        <li value="-">Séléctionner <strong>"A définir"</strong> pour le champ type de ticker</li>
        <li value="-">Connectez-vous ou bien si vous n'avez pas encore de compte, créez un compte</li>
        <li value="-">Accéder à la zone dedier au partage depuis votre espace personnel</li>
        <li value="-">Attribuez chaque ticket à une personne en saisissant ses informations</li>
        <li value="-">Après chaque partage, la personne recevra une notification</li>
      </ol>
    </li>
  </ol>
  <div *ngFor="let person of listOfPersons; let i = index" class="ui very raised segment sgt">
    <h4 class="ui dividing header">Saisissez {{i === 0 ? 'vos informations' : 'les informations de la personne ' + (i + 1)}}</h4>

    <div class="three fields">

      <div class="ui four wide column required field">
        <label>Type de ticket</label>
        <select (change)="updateListOfTicketType(person.ticketType)" *ngIf="listOfPersons.length > 1 && person.ticketType === ''"
                [(ngModel)]="person.ticketType" [ngClass]="mapError[i]?.has('ticketType') ? 'error' : ''"
                class="ui compact selection dropdown" name="ticket">
          <option value="">Séléctionner</option>
          <option *ngIf="i !== 0" value="unset">A définir</option>
          <option *ngFor="let type of listOfTicketType" [value]="type">{{type | titlecase}}</option>
        </select>
        <div *ngIf="listOfPersons.length === 1 || person.ticketType !== ''" class="ui icon input">
          <input [value]="person.ticketType" class="cursor-default" readonly type="text">
          <i (click)="editType(i)" *ngIf="listOfPersons.length > 1" class="violet circular edit link icon"></i>
        </div>
      </div>

      <div [ngClass]="mapError[i]?.has('firstName') ? 'error' : ''" class="ui six wide column required field">
        <label>Prénom </label>
        <input [(ngModel)]="person.firstName" [disabled]="person.ticketType.equalIgnoreCase('unset')" name="firstName" placeholder="Prénom"
               type="text">
      </div>

      <div [ngClass]="mapError[i]?.has('lastName') ? 'error' : ''" class="ui six wide column required field">
        <label>Nom</label>
        <input [(ngModel)]="person.lastName"
               [disabled]="person.ticketType.equalIgnoreCase('unset') || person.ticketType === ''" name="lastName" placeholder="Nom"
               type="text">
      </div>

    </div>

    <div class="sixteen wide fields">
      <div [ngClass]="mapError[i]?.has('email') ? 'error' : ''" class="seven wide required field">
        <label>Email </label>
        <input (blur)="emailValidityChecker(person)" [(ngModel)]="person.email"
               [disabled]="person.ticketType.equalIgnoreCase('unset') || person.ticketType === ''" name="email" placeholder="Email"
               type="email">
        <div *ngIf="person.email.length > 0 && !isEmailValid" [ngClass]="!isEmailValid ? 'd-block p-2 mt-1' : ''"
             class="ui message error">
          <p>Veuillez vérifier le format de votre addresse email</p>
        </div>
      </div>
      <div class="nine wide field">
        <div [ngClass]="mapError[i]?.has('phone') ? 'error' : ''" class="two equal width required fields">
          <div class="field">
            <label>Pays</label>
            <select [(ngModel)]="person.countryCode" [disabled]="person.ticketType.equalIgnoreCase('unset') || person.ticketType === ''"
                    class="ui compact selection dropdown">
              <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
            </select>
          </div>
          <div class="required field">
            <label>Téléphone</label>
            <div class="ui labeled input">
              <div class="ui basic label">
                <i class="{{person.countryCode | lowercase}} flag"></i> {{getIndicatif(person.countryCode)}}
              </div>
              <input (blur)="isNumberValid(i)" (keydown)="formatNumber(i)"
                     [(ngModel)]="person.phone" [disabled]="person.ticketType.equalIgnoreCase('unset') || person.ticketType === ''"
                     [placeholder]="getTemplate(i)" name="phone" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui very raised segment" style="height: 60px">
    <div (click)="previousStep()" class="ui orange left floated animated button" tabindex="0">
      <div class="visible content">Précédent</div>
      <div class="hidden content">
        <i class="left arrow icon"></i>
      </div>
    </div>
    <div (click)="checkInformation()" class="ui violet right floated animated button" tabindex="0">
      <div class="visible content">Suivant</div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentStep === 2" class="ui very raised segments">
  <div class="ui segment">
    <div class="ui dividing header h4">Choisissez votre méthode de paiement</div>
    <div class="ui small images d-flex flex-row justify-content-around">
      <div class="ui small images d-flex flex-row justify-content-around">
        <a (click)="pay()" class="ui image cursor-pointer" matTooltip="Payer avec PayExpress"
           matTooltipClass="tooltipClass" matTooltipHideDelay="250" matTooltipShowDelay="0">
          <img alt="payexpress" src="../../../assets/images/icons/epayment.png" style="height: 150px">
        </a>
        <a (click)="openCashPaymentDialog()" class="ui image cursor-pointer" matTooltip="Payer en point de relai"
           matTooltipClass="tooltipClass" matTooltipHideDelay="250" matTooltipShowDelay="0">
          <img alt="cash" src="../../../assets/images/icons/cash.jpg" style="height: 150px">
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentStep === 3 && event" class="ui very raised segments">
  <div class="d-flex flex-column mt-2 mb-3">
    <div class="ui bulleted list">
      <div class="item">Vous pouvez télécharger {{listOfPersons.length === 1 ? 'votre ticket' : 'vos tickets'}} en cliquant sur le
        boutons télécharger.
      </div>
      <div class="item">Les tickets marqués "A définir" ne peuvent être téléchargés qu'après attribution à une personne.</div>
      <div class="item">Un billet est reconnu électroniquement lorsque le titulaire arrive sur place.</div>
      <div class="item">Veuillez vous présenter sur place avec votre pièce d'identité.</div>
      <div class="item">L'acheteur est responsable de l'utilisation de chaque billet.</div>
    </div>
    <div class="d-flex flex-row justify-content-around">
      <div *ngFor="let person of getAssignedTickets()" class="ticket-container">
        <div class="ticket-header">
          <img [src]="image" alt="event image">
          <qrcode [allowEmptyString]="false" [elementType]="'url'" [errorCorrectionLevel]="'H'" [margin]="2"
                  [qrdata]="'OoKc3watuiv53kUfD8XGIV3ed'" [version]="6" [width]="100"></qrcode>
        </div>
        <div class="ticket-body">
          <span class="text-uppercase">{{event.designation}}</span>
          <span>{{event.place.designation}}</span>
          <span>Le {{event.startingDate | date: 'dd MMM yyyy'}} a partir de {{event.startingTime}}</span>
          <span class="text-uppercase">{{person.firstName}} {{person.lastName}}</span>
          <span class="text-uppercase">Ticket {{person.ticketType.toLowerCase()}},
            {{getPriceByType(person.ticketType) | currency: 'XOF': 'symbol-narrow': '1.1-2'}}</span>
        </div>
        <hr class="w-100">
        <div class="d-flex flex-row justify-content-between mr-4 ml-4">
          <div class="d-flex flex-column justify-content-start align-items-center logo-container">
            <p>Réserve sur</p>
            <img alt="logo bip" src="../../assets/images/logo/bip-logo.png">
          </div>
          <div class="d-flex flex-column justify-content-start align-items-center logo-container">
            <p>Payé via</p>
            <img alt="Pay Express" src="../../../assets/images/icons/epayment.png">
          </div>
        </div>
        <div class="d-flex flex-row justify-content-end ticket-footer">
          www.bookinpass.com
        </div>
      </div>
    </div>
  </div>
</div>
