.loader-class {
  /*background: url('../../../assets/images/loader/patienter.gif') 50% 50% no-repeat whitesmoke;*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0.7;
}

.flight-type > .item,
.searching-ticket-type ul li {
  font-size: 15px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.flight-type > .item:hover:not(.active),
.searching-ticket-type ul li:hover:not(.active) {
  text-decoration: underline;
}

.flight-type > .item.active,
.searching-ticket-type > ul > li.active {
  color: #FF6600;
  cursor: default !important;
}

.input-field-content {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
  padding: 10px 15px;
}

.ui.action.input > .button {
  padding-left: 21px !important;
  background-color: lightgreen !important;
}

.direct-flight {
  background-color: transparent;
  padding: 0;
  border: 0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6px;
}

.ui.checkbox > label {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin: 3px 0 !important;
  color: white !important;
}

.current-location-glyph {
  width: 30px;
  padding-right: 10px;
}

/*Class on-hover dropdown*/
.dropdownBtn {
  background-color: transparent;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border: none;
}

.dropdown.dropdown-class {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: -moz-max-content;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: 55px;
  top: 20px;
  background: lemonchiffon;
  border-radius: 5px;
}

.dropdown-content div {
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-content div:hover {
  background-color: #aaa
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*end on -hover dropdown*/

.half-width {
  width: 50%;
}

.passenger_selection {
  font-size: 15px;
  font-weight: 500;
  color: #FF6600;
}

.passenger_selection:not(:last-child) {
  padding-bottom: 3px;
}

.passenger_selection > p {
  width: 120px;
}

.passenger_selection > fui-select > div {
  margin-top: 1px;
}

.passenger_selection > fui-select > div > span {
  color: white;
  font-size: 15px;
}

.passenger_selection > fui-select > i {
  font-size: 15px;
}

.search-btn {
  cursor: pointer;
  color: #fff;
  padding: 5px 7px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  border-color: #f60;
  border-style: solid;
  background: #FF6600;
}

.search-btn:hover {
  background: #E64E00;
}

.ui.vertical.menu {
  display: unset;
}

#fuse__block {
  display: none;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4) !important;
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  top: 80px;
}

.fuse__display_result > .item {
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 !important;
}

.fuse__display__result > .item:not(:last-child):hover {
  background-color: #FFE7D7 !important;
}

.fuse__details {
  width: calc(100% - 53px);
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fuse__details > div {
  font-size: 12px;
  font-weight: normal;
  color: #888;
  display: block;
}

.fuse__iata {
  display: flex;
  text-align: center;
  width: auto;

}

.fuse__iata > span {
  display: inline-block;
  width: 45px;
  padding: 5px 5px;
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  color: #333;
  line-height: 16px;
}

.fuse__close {
  clear: both !important;
  border-top: 1px solid #ccc !important;
  background: #f5f5f5 !important;
  text-align: right !important;
  padding: 6px 10px !important;
}

.fuse__close > button {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
  height: 34px;
  padding: 0 20px;
  background: linear-gradient(#fff, #f5f5f5);
  border: 1px solid #ccc;
  color: #f60;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (max-width: 485px) {
  .passenger_selection {
    width: max-content;
    padding-left: 0;
    padding-right: 0;
  }

  .half-width:not(:last-child) {
    width: max-content;
  }

  .half-width:last-child {
    width: -moz-available;
    margin-left: 30px;
  }
}

@media screen and (max-width: 420px) {

  .last-row {
    flex-direction: column;
    justify-content: space-between;
  }

  .passenger_selection {
    width: -moz-available !important;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 !important;
  }

  .half-width {
    width: -moz-available !important;
    margin-top: 7px;
    margin-left: 0 !important;
  }

  .half-width:last-child {
    padding-left: 7.5px;
  }

  .dropdown-content {
    background-color: white;
  }

  .ui.checkbox > label,
  .dropdownBtn {
    color: #FF6600 !important;
  }

}
