* {
  text-align: justify;
  font-family: "Roboto Slab", "Open Sans", "Roboto", "Roboto Slab", Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.5em !important;
}

.se-item, .item {
  font-size: 15px !important;
}

.matAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: unset;
  min-height: unset;
  height: 60px;
  align-items: center;
  margin-bottom: -24px;
  padding-top: 27px;
  border-top: 1px solid #ccc;
}
