<!-- Conditions générales -->
<!--<h2 class="ui header font-weight-bold text-right m-0" mat-dialog-title>Veuillez faire défiler vers le bas et accepter les termes et-->
<!--  conditions</h2>-->
<div mat-dialog-content>
  <h2 class="ui dividing header underlined text-center mt-0">Informations générales</h2>
  <div class="ui bulleted list">
    <div class="item">À travers ce site Web, l’application mobile ou le Call Center. Un achat sur ce site Web signifie tout type de commande
      de produits ou de services que vous effectuez avec obligation de paiement et qui a été confirmée par Book In Pass. En achetant des
      produits ou des services de voyages et en achetant des billets d’accès aux sites touristiques et évènements sportifs et culturels par
      l’intermédiaire de ce site Web, de l’application mobile ou par notre Call center, vous établissez un contrat directement avec le/les
      Fournisseur(s) de voyages et les promoteurs d’évènements sportifs et culturels.
    </div>
    <div class="item">Book In Pass ne fait pas partie de la relation contractuelle relative aux produits et services que vous achetez, sauf
      mention contraire expresse. Toute question ou préoccupation concernant les produits ou services acquis devra être adressée au
      Fournisseur de voyages, de manifestations, site touristiques concerné.
    </div>
  </div>
  <!-- Votre Contrat -->
  <h2 class="ui dividing header underlined text-center">Votre contrat</h2>
  <div class="ui bulleted list">
    <div class="item">Le terme « Fournisseur de Voyages et d’évènements sportifs et culturels » englobe, entre autres, les compagnies
      aériennes, les tour-opérateurs, les fournisseurs de forfaits de voyage, les hôtels, les chaînes d'hôtel et groupements d'hôtels, les
      compagnies d'assurance, les sociétés de location de voitures et les croisiéristes, les promoteurs de spectacles, les fédérations et
      associations sportives et culturelles, les gestionnaires de sites touristiques.
    </div>
    <div class="item">L’Intermédiaire effectue la réservation pour votre compte et votre contrat sera soumis aux conditions générales du
      Fournisseur de Voyages qui peut limiter ou exclure sa responsabilité (souvent en vertu de différentes conventions internationales
      applicables). Si vous souhaitez prendre connaissance des conditions du Fournisseur de Voyages, vous pourrez consulter les liens
      disponibles de notre Site. S'il n'est pas possible de consulter les conditions du Fournisseur de Voyages via un lien, nous vous
      communiquerons, sur simple demande, les coordonnées du Fournisseur de Voyages afin que vous puissiez le contacter. Assurez-vous de
      bien
      lire les conditions spécifiques du Fournisseur de Voyages concernant les frais d'annulation et autres conditions importantes.
    </div>
    <div class="item">En utilisant notre Site pour réserver des produits et/ou des services, vous autorisez l’Intermédiaire, non seulement,
      a
      vous représenter pendant le processus de recherche entre les différents Fournisseur de Voyages et d’évènements sportifs et culturels
      et
      lors de la réservation des produits, mais également à procéder au paiement des produits ou services en question en votre nom et pour
      votre compte. C’est pourquoi l’Intermédiaire vous facturera des frais en fonction du produit que vous réservez. Nous vous
      communiquerons
      le montant des lors de chaque réservation.
    </div>
    <div class="item">Les prix sont confirmés lors de l'étape finale de la réservation lorsque vous cliquez sur « Paiement ». Les prix sont
      indiqués en fonction des taux de change calculés tous les jours. Les prix peuvent donc fluctuer tous les jours en fonction des
      variations des taux de change. Les taxes fluctuent en fonction des taux de change. Lorsqu'une réservation est faite, le taux de change
      est fixé à ce moment-là et s'appliquera à toutes les modifications ou annulations concernant le produit ou le service objet de la
      réservation. Les taux de change sont fixés par l’Intermédiaire.
    </div>
    <div class="item">Après avoir passé votre commande, vous recevrez un email et/ou un texto de confirmation qui constituera votre document
      contractuel. Ce premier email de confirmation vous fournira tous les détails des produits ou services sollicités. Par la suite, nous
      vérifierons que votre achat a été correctement pris en compte par le système de votre/vos Fournisseur de Voyages et d’évènements
      sportifs et culturels et que votre paiement peut être correctement traité. Notre obligation d’émettre le billet sera soumise au fait
      que
      le paiement ait été réalisé dans son intégralité. Une fois que tout sera correct, vous recevrez un deuxième email dans un délai de un
      (1) jour ouvrable suivant la réception du premier email, dans lequel nous vous confirmerons l’émission de votre/vos billet(s).
    </div>
    <div class="item">Nous nous réservons le droit d'annuler votre réservation si nous avons de bonnes raisons de croire qu'elle est
      frauduleuse. Dans ce cas, nous essaierons de prendre contact, soit avec vous en utilisant l'adresse électronique que vous aurez
      communiquée lors de la Réservation, soit avec votre banque ou organisme de traitement des paiements. Si nous ne sommes pas en mesure
      de
      prendre contact avec vous ou votre banque ou organisme de traitement des paiements, nous annulerons votre réservation sans engagement
      de
      notre responsabilité.
    </div>
    <div class="item">L’Acheteur accepte l’usage du support électronique comme mode de conclusion du contrat. Le document électronique
      formalisant votre contrat sera enregistré dans les fichiers de l’Intermédiaire et Vous pourrez y avoir accès, à tout moment, en
      faisant
      la demande à l’Intermédiaire ou en ouvrant un compte personnel sur notre site internet ou l’application Book In Pass.
    </div>
    <div class="item">En ce qui concerne les éléments optionnels et les demandes spéciales que vous pouvez adresser dans certains cas aux
      Fournisseur de Voyages et d’évènements sportifs et culturels, concernant un produit déterminé (par exemple : aliments spéciaux,
      équipements pour handicapés, sièges pour enfants, etc.), veuillez noter que Book In Pass les transmettra aux Fournisseur de Voyages et
      d’évènements sportifs et culturels concernés, mais sans pour autant pouvoir garantir leur exécution par lesdits Fournisseurs. Il est
      de
      votre responsabilité de confirmer avec votre/vos Fournisseur(s) si ces demandes pourront être satisfaites.
    </div>
    <div class="item">Book In Pass met à votre disposition une page spécifique listant les compagnies aériennes les plus réservées sur son
      site, et permettant d'accéder aux informations nécessaires à la préparation de votre voyage (conditions de transport, politique de
      bagage, etc.). Vous êtes informé que seule la compagnie aérienne maîtrise ces informations, et que la consultation de ces règles est
      fondamentale dans l'organisation de votre voyage ou de la manifestation culturelle et sportive. Si aucun lien n'est fourni pour la
      compagnie aérienne ou le promoteur que vous avez réservée, vous devez allez les consulter directement sur son site internet.
    </div>
  </div>
  <!-- Conditions de réservation -->
  <h2 class="ui dividing header text-center underlined">Condition de reservation</h2>
  <div class="ui bulleted list">
    <h3 class="ui header underlined">Annulations et modifications:</h3>
    <div class="item">Votre droit d'annulation ou de modification d'un produit ou d'une prestation de voyage réservé(e) ou un évènement et
      la
      procédure à suivre dépendent des règles tarifaires spécifiques des compagnies aériennes et des promoteurs ou des conditions générales
      des fournisseurs. Il se peut que vous ne puissiez pas annuler ou modifier des produits ou services commandés ou que vous soyez obligés
      de satisfaire certaines exigences spécifiques. En cas de modification de votre réservation (modification hors demande de
      remboursements), l’Intermédiaire se réserve le droit de facturer un montant correspondant de frais de traitement. Ces frais n'incluent
      pas ceux facturés directement par le fournisseur de Voyages et d’évènements sportifs et culturels, y compris toute différence de prix
      de
      billets. Si vous modifiez votre réservation, sachez que les tarifs en vigueur indiqués sur le site ne s'appliqueront pas à votre
      changement de réservation. En cas d'invalidité du billet ou si ce dernier n'a pas donné à la consommation de la prestation, Vous
      pouvez
      vous faire rembourser les taxes et redevances comprises dans le prix du titre acheté et dont l'exigibilité procède de l'embarquement
      effectif de l’Utilisateur dans les conditions de la règlementation applicable en la matière. Le remboursement de ces taxes et
      redevances
      interviendra au plus tard 30 jours à compter de la date de réception de la demande de remboursement de l'Utilisateur qui peut être
      déposée en ligne en adressant un mail à l'adresse suivante:<span
        style="font-weight: bolder; text-decoration:underline; color: darkgoldenrod">loihamon@contact.bookinpass.com.</span><br/>Lorsque la
      demande n'est pas déposée en ligne, des frais de traitement pourront être facturés à l’Utilisateur dans la limite de 20% de la somme
      remboursée à l'Utilisateur à ce titre. En tout état de cause, l'Utilisateur ne pourra obtenir le remboursement qu'une seule fois et ce
      remboursement est soumis aux conditions tarifaires spécifiques ou aux conditions générales des fournisseurs.
    </div>
    <div class="item">En ce qui concerne les réservations de vols, sachez que pour l'établissement d'un itinéraire comportant plusieurs
      parcours et plus d'un tarif de base, plusieurs règles de tarification pourront être appliquées. Dans ce cas, les règles tarifaires les
      plus restrictives s'appliqueront. Vous devez prendre connaissance de toutes les règles tarifaires se rapportant à votre réservation.
      Si
      des modifications ou des annulations sont autorisées, veuillez demander à l’Intermédiaire d'effectuer le changement. En ce qui
      concerne
      les vols, sachez qu'une non-présentation (no-show) à un vol peut entraîner l'annulation pure et simple de votre billet par la
      compagnie
      aérienne et, de ce fait, le non-remboursement de votre billet.
    </div>
    <div class="item">En ce qui concerne les évènements et visites les conditions générales spécifiques pour les annulations et
      modifications
      sont disponibles sur notre Site via le lien correspondant ou sur simple demande à notre service client ; elles figurent également dans
      votre courrier électronique ou message de confirmation. Lorsque vous modifiez votre réservation, il vous incombe de vous assurer que
      cette modification n'a pas de répercussion sur tout autre produit ou service que vous auriez acheté.
    </div>
    <div class="item">En ce qui concerne les « Vols+ », les conditions générales spécifiques des Séjours pour les annulations et
      modifications
      sont disponibles sur notre Site via le lien correspondant ou sur simple demande à notre service client ; elles figurent également dans
      votre courrier électronique de confirmation. Lorsque vous modifiez votre réservation, il vous incombe de vous assurer que cette
      modification n'a pas de répercussion sur tout autre produit ou service que vous auriez acheté.
    </div>
    <div class="item">En ce qui concerne les réservations d'hôtel, les conditions générales spécifiques des hôtels pour les annulations et
      modifications sont disponibles sur notre Site via le lien correspondant ou sur simple demande à notre service client ; elles figurent
      également dans votre courrier électronique de confirmation. Lorsque vous modifiez votre réservation, il vous incombe de vous assurer
      que
      cette modification n'a pas de répercussion sur tout autre produit ou service que vous auriez acheté.
    </div>
    <div class="item">En ce qui concerne les locations de voiture, les conditions générales spécifiques du service de location de voitures
      du
      Fournisseur de Voyages relatives aux annulations et modifications sont disponibles sur notre Site via le lien correspondant ou sur
      simple demande à notre service client. Par ailleurs, si vous n'annulez pas votre réservation avant l'heure de prise en charge du
      véhicule et ne prenez pas le véhicule à la date de prise en charge ou si vous ne respectez pas les conditions de prise en charge (voir
      les conditions générales du Fournisseur), l’Intermédiaire se réserve le droit, au nom du Fournisseur, de vous facturer des frais de
      non-présentation pouvant atteindre 100 % du prix total de location du véhicule.
    </div>
    <div class="item">En ce qui concerne les Croisières, les conditions générales des Croisiéristes relatives aux annulations et
      modifications
      sont disponibles sur notre Site via le lien correspondant ou sur simple demande à notre service client. Par ailleurs, une
      non-présentation lors d'une croisière entraînera l'annulation pure et simple de votre billet par le Fournisseur et, de ce fait, le
      non-remboursement de votre billet.
    </div>
    <h3 class="ui header underlined">Prix et Paiement:</h3>
    <div class="item">Le prix total de votre réservation vous sera communiqué dès que vous aurez sélectionné tous les produits que vous
      souhaitez acheter. Ce prix inclura le prix de tous les produits sélectionnés ainsi que la commission de l’Intermédiaire. La commission
      de l’Intermédiaire est indépendante du prix des produits et n'est pas remboursable puisqu'elle est facturée en contrepartie des
      services
      de recherche et d'assistance fournis lors du processus de réservation.
    </div>
    <div class="item">Le montant de la commission dépend des produits achetés. L’Intermédiaire peut également facturer une commission
      supplémentaire si vous effectuez une réservation par téléphone ou si vous demandez des modifications ou un remboursement. Si vous
      utilisez une carte de crédit non provisionnée ou si votre carte de crédit est refusée par la banque pour un autre motif qui vous est
      imputable, l’Intermédiaire facturera des frais et vous informera immédiatement de prendre les dispositions qui s'imposent pour
      acquitter
      votre réservation. Tant que vous n'aurez paspayé intégralement vos achats, vous ne pourrez pas recevoir vos produits. Nous tenons, par
      ailleurs, à attirer votre attention sur le fait qu’en raison de la nature des produits de voyage, il est possible que le prix change
      entre la date de réservation et la date de paiement effectif; et vous devrez donc assumer le prix en vigueur au moment où vous
      effectuez
      le paiement.
    </div>
    <div class="item">Si vous payez par carte de crédit, le prix des billets d'avion pourra être encaissé directement par la compagnie
      aérienne. En cas de problème avec votre paiement, nous vous contacterons dans les 48 heures de votre réservation (ou dans les 24
      heures
      si vous voyagez dans les 48 heures). L’Intermédiaire ne sera pas responsable de toute augmentation de prix résultant d'un défaut de
      paiement. Vous devez payer l'augmentation de prix avant que la réservation soit confirmée. Sachez que le paiement du transport aérien
      et
      le paiement des frais de services de l’Intermédiaire peuvent apparaître comme des opérations distinctes sur votre relevé bancaire.
    </div>
    <div class="item">Les paiements peuvent être effectués à l'aide des principaux moyens de paiement indiquées sur notre Site. Les moyens
      de
      paiement autres que ceux mentionnés sur notre Site ne sont pas acceptés et l’Intermédiaire décline toute responsabilité au cas où des
      paiements en espèces ou des chèques seraient envoyés par courrier postal.
    </div>
    <div class="item">Afin de garantir une meilleure sécurité, nous vous demanderons de saisir toutes les informations qui figurent sur
      votre
      carte ou autre moyens de paiement pour chaque achat que vous effectuez auprès de l’Intermédiaire puisque ces informations ne sont
      conservées dans nos fichiers que le temps nécessaire pour effectuer le paiement de chaque réservation ou procéder au recouvrement de
      taxes visé ci-après au point 3.3. Sachez que l’Intermédiaire est obligé de transmettre au Fournisseur de Voyages et d’évènements
      sportifs et culturels concerné les informations figurant sur votre carte pour pouvoir effectuer la réservation. En acceptant les
      présentes CGV, vous nous autorisez à communiquer cette information. Toutes les informations sont cryptées sur notre serveur sécurisé.
      Vous autorisez l’Intermédiaire à utiliser les informations figurant sur la carte de crédit ou les autres moyens de paiement pour (i)
      procéder à l'achat des services demandés et traiter les commissions s'y rapportant, (ii) payer les primes d'assurance et l'assistance
      touristique, le cas échéant, (iii) procéder aux remboursements autorisés et (iv) facturer les frais et commissions se rapportant à (a)
      la modification de votre réservation ou (b) au remboursement des taxes mentionné à l'article 3.3 des présentes CGV.
    </div>
    <div class="item">L’Intermédiaire se réserve de droit de répercuter les frais afférents à des rejets de carte. Si votre réservation est
      payée avec la carte de crédit d'un tiers, nous pourrons exiger que nous soit fournie l'autorisation écrite du titulaire de cette
      carte.
      L’Intermédiaire ou le Fournisseur de Voyages et d’évènements sportifs et culturels se réserve le droit de ne livrer les billets
      électroniques, confirmations, reçus électroniques ou tous autres documents de voyage qu'à l’adresse électronique ou l'adresse de
      facturation de votre carte bancaire si l'émetteur de ladite carte en fait la demande. Toutes les adresses électroniques doivent être
      valables au moment de la réservation.
    </div>
    <div class="item">Dans un effort visant à réduire au minimum les effets de la fraude à la carte de crédit, nous nous réservons le droit
      d'effectuer des contrôles aléatoires et nous pouvons vous demander de nous transmettre par fax ou par courrier un justificatif de
      votre
      adresse et une copie de la carte de crédit et des déclarations récentes faites avant l'émission des billets. Sachez que ces
      vérifications ne sont effectuées que pendant nos heures normales d‘ouverture. En conséquence, tous les billets afférents à des
      réservations effectuées en dehors de nos heures d'ouverture ne peuvent être émis que le jour ouvrable suivant. L’Intermédiaire n'est
      pas
      responsable des frais engagés suite à ces contrôles.
    </div>
    <h3 class="ui header underlined">Remboursement:</h3>
    <div>Les remboursements, le cas échéant, seront effectués au moyen du mode de paiement utilisé au moment de votre achat et au
      nom de la personne qui a effectué le paiement initial. Lorsque vous demandez le remboursement d’un billet, veuillez noter que les
      éléments qui constituent le prix du billet ne sont pas tous remboursables. Tout remboursement, bien que demandé par l’intermédiaire de
      Book In Pass, est effectué conformément à la politique de remboursements du/des Fournisseur(s) concernés.
    </div>
    <h3 class="ui header underlined">Passeport, Visas et Exigences d’ordre médical:</h3>
    <div class="item">Pour connaître la législation applicable en matière de passeport et de visas, veuillez consulter l’ambassade concernée
      avant de partir en voyage. Il est de votre responsabilité d’être en possession d’un passeport valide et, le cas échéant, d’un visa.
      L'Intermédiaire n’est en aucun cas responsable des conséquences engendrées du fait de ne pas posséder de document de voyage valide.
    </div>
    <div class="item">Chaque destination a ses propres conditions en ce qui concerne les formalités d’entrée, de vaccination, etc. ,
      lesquelles peuvent varier en fonction de la nationalité du passager. Nous vous recommandons de bien vous informer avant de planifier
      votre voyage. Book In Pass n’est en aucun cas responsable des incidents découlant du non-respect de ces dispositions officielles.
    </div>
    <h3 class="ui header underlined">Billets électroniques (ou « eTickets »):</h3>
    <div class="item">Tous les billets vendus sur notre Site sont des billets électroniques. L'émission de billets électroniques est une
      forme
      immatérielle permettant de réserver. L’Intermédiaire vous enverra un courrier électronique de confirmation comportant votre numéro de
      réservation qui servira de reçu de votre billet électronique. Vous ne recevrez pas de billet papier à présenter à l'aéroport ou à
      l’entrée des évènements et sites.
    </div>
    <div class="item">Le Fournisseur de Voyages peut vous demander votre numéro de réservation et/ou votre courrier électronique de
      confirmation en guise de justificatif de votre réservation. Nous vous recommandons d’imprimer le courrier électronique de
      confirmation,
      bien que toutes les Fournisseur de Voyages et d’évènements sportifs et culturels ne demandent pas à le voir. Sachez que les
      Fournisseur
      de Voyages et d’évènements sportifs et culturels ont leurs propres règles et règlementations en matière de billetterie électronique.
    </div>
    <div class="item">L’Intermédiaire considère que les informations que vous communiquez sont exactes et ne peut donc pas être tenue
      responsable si votre billet électronique n'arrive pas en raison d'une adresse électronique incorrecte ou de vos paramètres de courrier
      indésirable. Vous devez nous informer immédiatement si vous changez d'adresse électronique ou de numéro de téléphone. En outre,
      veuillez
      vérifier que le nom qui figure sur votre passeport correspond au nom figurant sur votre billet et /ou confirmation de réservation.
      L’Intermédiaire ne saurait voir sa responsabilité engagée si l’Acheteur a transmis des coordonnées ou informations erronées lors de sa
      commande. Toute négligence de l’acheteur ne saurait être imputable à l’Intermédiaire.
    </div>
    <div class="item">Dans des circonstances exceptionnelles, en raison des restrictions de billetterie échappant à son contrôle,
      l’Intermédiaire peut ne pas être en mesure de transmettre des informations sur les réservations confirmées à la compagnie aérienne
      pour
      lui permettre d’effectuer la réservation. Si cela se produit, nous tenterons de vous informer dans les 48 heures suivant la
      confirmation
      et de procéder au remboursement complet ou de trouver une solution de remplacement. Si vous choisissez une solution de remplacement et
      si celle-ci est plus chère que votre réservation initiale, vous devrez payer la différence.
    </div>
    <h3 class="ui header underlined">Assurances voyage:</h3>
    <div class="se-item">L’Intermédiaire vous recommande vivement de souscrire une assurance voyage, d'autant plus que, dans certaines
      circonstances, le Fournisseur de Voyages et d’évènements sportifs et culturels n'aura aucune responsabilité. Si vous décidez d'acheter
      une assurance voyage sur notre Site, votre contrat sera directement conclu avec la compagnie d’assurance dont les conditions générales
      s'appliqueront à ladite assurance. Ces conditions d'assurance seront disponibles durant le processus de vente.
    </div>
    <h3 class="ui header underlined">Programmes de fidélisation:</h3>
    <div class="se-item">Lors de la réservation, vous avez la possibilité de saisir des données relatives aux programmes de fidélisation.
      Nous attirons votre attention sur le fait que chacun de ces programmes de fidélisation est soumis aux conditions générales propres.
      Ces conditions générales peuvent restreindre les bénéfices accordés à certains tarifs ou certaines classes. En cas de doute, il est
      recommandé de contacter l Fournisseur de Voyages et d’évènements sportifs et culturels dont dépend votre programme de fidélisation.
      Nous attirons également votre attention sur le fait que nos Fournisseur de Voyages et d’évènements sportifs et culturels ont leurs
      propres règles et règlementations en ce qui concerne les cartes de fidélité. Si vous avez des questions, veuillez prendre contact
      directement avec eux. Fournisseur de Voyages et d’évènements sportifs et culturels proposent différents programmes de fidélisation ;
      les avantages proposés varient d'un fournisseur à une autre pour un même parcours et pour une même classe les avantages proposés
      peuvent varier. Nous ne sommes pas responsables de ces variations et si vous tenez à connaître le nombre de points de fidélité que
      vous obtiendrez, nous vous conseillons de prendre contact avec le service client avant de réserver votre billet.
    </div>
  </div>
</div>
<div class="matAction" mat-dialog-actions>
  <div (click)="close()" class="ui orange mb-4 right floated animated button">
    <div class="visible content">Accepter</div>
    <div class="hidden content">
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

