<div class="two column">
  <div class="ui column">
    <form class="ui form">
      <h4 class="ui dividing header">
        <div class="content d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
          Information De la carte
          <div class="sub header mt-2 mt-md-0">
            <div class="d-flex flex-row justify-content-end brands">
              <img src="../../assets/images/icons/visa.png" height="50px" alt="">
              <img src="../../assets/images/icons/mastercard.png" height="50px" alt="">
              <img src="../../assets/images/icons/maestro.png" height="50px" alt="">
              <img src="../../assets/images/icons/amex.png" height="50px" alt="">
              <img src="../../assets/images/icons/discover.png" height="50px" alt="">
            </div>
          </div>
        </div>
      </h4>
      <div class="field mb-md-2 col col-md-6 col-xl-4 p-0">
        <label>Type de la carte</label>
        <div class="ui selection dropdown">
          <input type="hidden" name="card[type]">
          <div class="default text">Type</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="visa">
              <i class="visa icon"></i>
              Visa
            </div>
            <div class="item" data-value="master-card">
              <i class="mastercard icon"></i>
              Master-Card
            </div>
            <div class="item" data-value="master-card">
              <i class="mastercard icon"></i>
              Maeatro
            </div>
            <div class="item" data-value="amex">
              <i class="amex icon"></i>
              American Express
            </div>
            <div class="item" data-value="discover">
              <i class="discover icon"></i>
              Discover
            </div>
          </div>
        </div>
      </div>
      <div class="fields stackable mb-md-0">
        <div class="seven wide field pb-sm-2">
          <label>Numero de la carte</label>
          <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
        </div>
        <div class="three wide field pb-sm-2">
          <label>CVC</label>
          <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
        </div>
        <div class="six wide field">
          <label>Expire le</label>
          <div class="two fields unstackable">
            <div class="field">
              <select class="ui fluid search dropdown" name="card[expire-month]">
                <option value="">Mois</option>
                <option value="1">Janvier</option>
                <option value="2">Fevrier</option>
                <option value="3">Mars</option>
                <option value="4">Avril</option>
                <option value="5">Mai</option>
                <option value="6">Juin</option>
                <option value="7">Julliet</option>
                <option value="8">Aout</option>
                <option value="9">Septembre</option>
                <option value="10">Octobre</option>
                <option value="11">Novembre</option>
                <option value="12">Décembre</option>
              </select>
            </div>
            <div class="field">
              <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
            </div>
          </div>
        </div>
      </div>
      <div class="ui button mt-sm-2 mt-md-0" tabindex="0">Payer</div>
    </form>
  </div>
</div>
