<div [ngClass]="loading ? 'active' : ''" class="ui dimmer inverted">
  <div class="ui large text loader">Chargement</div>
</div>

<div *ngIf="!loading" class="container">
  <div class="ui two column grid fluid m-0 flex-nowrap">
    <div class="row">
      <div class="parent sixteen wide column tablet twelve wide computer">

        <!--        Flight resume-->
        <app-ticket-resume *ngIf="travelers && response && response.dictionaries && response.data"
                           [dictionary]="response.dictionaries"
                           [flightOffer]="response.data.flightOffers[0]"
                           [travelers]="travelers"
        ></app-ticket-resume>
        <!--        End Flight resume-->

        <!--        Contact area-->
        <div *ngIf="contactForm" class="ui orange segment">
          <h3 class="ui header">Contact<sup class="text-danger">*</sup></h3>
          <form [formGroup]="contactForm" class="ui form fluid">
            <div class="ui two fields">
              <div [ngClass]="submitted && f.emailAddress.errors ? 'error' : ''" class="required field">
                <label>Email</label>
                <input formControlName="emailAddress" placeholder="Entrer votre email" type="email"/>
                <div *ngIf="submitted && f.emailAddress.errors" class="invalid-message">
                  <p *ngIf="f.emailAddress.errors?.required">Veuillez saisir une addresse mail!</p>
                  <p *ngIf="f.emailAddress.errors?.email">Le format de cet email est invalid!</p>
                </div>
              </div>
              <div [ngClass]="submitted && f.confirmEmail.errors ? 'error' : ''" class="required field">
                <label>Confirmer email</label>
                <input formControlName="confirmEmail" placeholder="Confirmer votre email" type="email"/>
                <div *ngIf="submitted && f.confirmEmail.errors" class="invalid-message">
                  <p *ngIf="f.confirmEmail.errors?.required">Veuillez confirmer l'addresse mail!</p>
                  <p *ngIf="f.confirmEmail.errors?.mustMatch">Les emails que vous avez saisi sont differents!</p>
                </div>
              </div>
            </div>
            <div class="two fields">
              <div class="ui field required">
                <label>Séléctionner votre pays</label>
                <select (change)="updateFlag()" class="ui selection dropdown" formControlName="countryCallingCode">
                  <option *ngFor="let ctr of countries" [value]="ctr.dial_code">{{ctr.name | titlecase}}</option>
                </select>
              </div>

              <div [ngClass]="submitted && f.phoneNumber.errors ? 'error' : ''" class="ui field required">
                <label>Téléphone</label>
                <div class="ui labeled input">
                  <div class="ui basic label"><i class="{{f.flag.value}} flag"></i>{{f.countryCallingCode.value}}</div>
                  <input (keyup)="formatNumber()" autocapitalize="off" autocomplete="true"
                         formControlName="phoneNumber" name="phoneNumber" placeholder="Téléphone" type="tel">
                </div>
                <div *ngIf="f.phoneNumber.errors && submitted" class="invalid-message">
                  <p *ngIf="f.phoneNumber.value.length < 1">Veuillez saisir votre numéro de téléphone.</p>
                  <p *ngIf="f.phoneNumber.errors.validPhone">Ce numéro de téléphone n'est pas valide pour le pays séléctionnné.</p>
                </div>
              </div>
            </div>
            <hr class="dashed-hr">

            <!-- Check mark and conditions -->
            <div class="required field">
              <div class="ui checkbox">
                <input (click)="openConditionDialog()" id="condition-checkbox" type="checkbox"/>
                <label class="hovered-condition cursor-pointer" for="condition-checkbox">
                  En cochant cette case, je reconnais avoir lu et accepté sans réserve les conditions générales suivantes</label>
              </div>
            </div>
            <p class="w-100">
              - J’ai bien vérifié que les noms et prénoms des voyageurs sont bien orthographiés et correspondent aux noms
              et prénoms indiqués sur le passeport ou la carte d'identité qui servira de document de voyage lors de l’enregistrement.</p>
            <p class="w-100">
              - J’ai bien vérifié que l’adresse e-mail sur laquelle je souhaite recevoir tous mes documents de voyages est correcte ainsi
              que le numéro de téléphone que j'ai indiqué. </p>

            <!-- end check mark and conditions -->
          </form>
        </div>
        <!--        End Contact area-->

        <!--        Login area-->
        <!--        End Login area-->

        <!--        Seat map area-->
        <!--        End Seat map area-->

        <!--        Payment area-->
        <div class="ui orange segment" id="paymentButton">
          <div (click)="proceedToPayment()" class="ui orange button" style="width:160px">Proceder au paiement</div>
        </div>
        <!--        End Payment area-->

      </div>
      <aside class="four wide column tablet only">

      </aside>
    </div>
  </div>
</div>
<div class="position-absolute d-none w-100 h-100 bg-transparent" id="payment-frame"></div>
