.ui.label.p-0.w-auto > select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100px;
  min-width: auto;
  background-color: #f2711c !important;
  color: white !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 10px 0 10px 10px !important;
}

.contact-form {
  background-color: #efefef;
}

.contact-form .field label,
.contact-form .field label:after {
  color: #FF6600 !important;
}

.contact-form .head {
  background-color: #2daae1;
  color: white;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#paymentButton {
  background-color: #efefef;
}
