.step-1 > div:nth-of-type(1) {
  width: 500px;
}

.step-1 > div:nth-of-type(2) {
  width: 350px;
}

.darkBlueLabel {
  font-size: 16px !important;
  color: #00004a !important;
}

.passenger_selection {
  font-size: 16px;
  color: #FF6600;
}

.passenger_selection > fui-select > div {
  margin-top: 1px;
}

.passenger_selection > fui-select > div > span {
  color: white;
  font-size: 16px;
}

.passenger_selection > fui-select > i {
  font-size: 16px;
}

#ticket-container {
  padding: 7px;
  border-radius: 5px;
  border: 1px outset aquamarine;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .step-1 {
    width: 100%;
  }

  .step-1 > div {
    width: 100% !important;
  }

  .step-1 {
    margin-bottom: 10px;
  }

}
