<div class="ui very raised segments">
  <div [ngClass]="loading ? 'active' : ''" class="ui inverted dimmer">
    <div class="ui text loader">Chargement</div>
  </div>
  <div class="ui segment" mat-dialog-title>
    <p class="ui header">Modification du mot de passe</p>
  </div>

  <div class="ui segment fluid pt-1 pb-2">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" class="ui form">

      <div [ngClass]="submitted && f.old.status === 'INVALID' ? 'error' : ''" class="field required">
        <label>Ancien Mot de passe</label>
        <input [type]="showPassword ? 'text' : 'password'" formControlName="old"/>
        <div *ngIf="submitted && f.old.errors">
          <div *ngIf="f.old.errors.required" class="invalid-message">Ce champ est requis.</div>
        </div>
      </div>

      <div [ngClass]="submitted && f.new.status === 'INVALID' ? 'error' : ''" class="field required">
        <label>Nouveau mot de passe</label>
        <input [type]="showPassword ?'text' : 'password'" formControlName="new"/>
        <div *ngIf="submitted && f.new.errors">
          <div *ngIf="f.new.errors.required" class="invalid-message">Ce champ est requis.</div>
          <div *ngIf="f.new.errors.minlength" class="invalid-message">Veuillez saisir au moins huit caracteres.</div>
        </div>
      </div>

      <div [ngClass]="submitted && f.confirm.status === 'INVALID' ? 'error' : ''" class="field required">
        <label>Confirmer mot de passe</label>
        <input [type]="showPassword ?'text' : 'password'" formControlName="confirm"/>
        <div *ngIf="f.confirm.errors && submitted">
          <div *ngIf="f.confirm.errors.required" class="invalid-message">Ce champ est requis.</div>
          <div *ngIf="f.confirm.errors.mustMatch" class="invalid-message">Les mot de passe ne correspondent pas!</div>
        </div>
      </div>
      <div class="w-100">
        <button class="ui right aligned teal button" mat-dialog-close>Annuler</button>
        <button class="ui right aligned violet button" type="submit">Modifier</button>
      </div>
    </form>
  </div>
</div>
