<section class="ui fluid column stackable raised center aligned mb-4 mt-4 mt-md-0 section-headed">
  <div [ngClass]="loader === true ? 'ui active dimmer' : 'ui disabled dimmer'">
    <div class="ui massive text loader">
      Chargement
    </div>
  </div>
  <div class="ui form attached segment">
    <div class="ui segment">
      <h4 class="ui dividing header">Information du voyageur principal:</h4>
      <div class="two equal width fields">
        <div [ngClass]="mapError.has('firstName') ? 'error' : ''" class="required field">
          <label>Prénom </label>
          <input [(ngModel)]="principalNomination.firstName" name="firstName" placeholder="Prénom" type="text">
        </div>
        <div [ngClass]="mapError.has('lastName') ? 'error' : ''" class="required field">
          <label>Nom</label>
          <input [(ngModel)]="principalNomination.lastName" name="lastName" placeholder="Nom" type="text">
        </div>
      </div>
      <div class="two equal width fields">
        <div [ngClass]="mapError.has('email') ? 'error' : ''" class="required field">
          <label>Email </label>
          <input (blur)="emailValidityChecker()" [(ngModel)]="principalNomination.email" name="email" placeholder="Email" type="email">
          <div *ngIf="principalNomination.email.length > 0 && !isEmailValid" [ngClass]="!isEmailValid ? 'd-block p-2 mt-1' : ''"
               class="ui message error">
            <p>Veuillez vérifier le format de votre addresse email</p>
          </div>
        </div>
        <div [ngClass]="mapError.has('phone') ? 'error' : ''" class="required field">
          <label>Téléphone</label>
          <input [(ngModel)]="principalNomination.phone" name="phone" placeholder="Téléphone" type="text">
        </div>
      </div>
      <h4 class="ui dividing header">Document de voyage:</h4>
      <div class="two equal width fields">
        <div [ngClass]="mapError.has('idType') ? 'error' : ''" class="required field">
          <label>Type</label>
          <select [(ngModel)]="principalNomination.idType" class="ui search dropdown" name="idType">
            <option value="">Séléctionner</option>
            <option value="CIN">Carte nationale d'identité</option>
            <option value="PASSPORT">Passeport</option>
          </select>
        </div>
        <div [ngClass]="mapError.has('idNumber') ? 'error' : ''" class="required field">
          <label>Numéro</label>
          <input [(ngModel)]="principalNomination.idNumber" name="idNumber" placeholder="Numéro d'identification" type="text">
        </div>
      </div>
    </div>
    <div *ngFor="let traveler of otherTravelerNominations; let i = index" class="ui segment">
      <h4 class="ui dividing header">Information voyageur {{i + 2}}:</h4>
      <div class="two equal width fields">
        <div class="required field">
          <label>Prénom </label>
          <input [(ngModel)]="traveler.firstName" name="firstName" placeholder="Prénom" type="text">
        </div>
        <div class="required field">
          <label>Nom</label>
          <input [(ngModel)]="traveler.lastName" name="lastName" placeholder="Nom" type="text">
        </div>
      </div>
    </div>
    <div class="required field">
      <div class="ui checkbox">
        <input (click)="checkCondition()" [disabled]="hasAcceptedCondition" id="condition-checker" type="checkbox"/>
        <label class="hovered-condition">
          En cochant cette case, je reconnais avoir lu et accepté sans réserve les
          <a (click)="openDialog()" class="cursor-pointer font-weight-bold underlined">conditions générales suivantes</a></label>
      </div>
    </div>
  </div>

  <div *ngIf="hasAcceptedCondition" class="ui very raised segments">
    <div class="ui segment">
      <div class="ui dividing header h4">Choisissez votre méthode de paiement</div>
      <div class="ui small images d-flex flex-row justify-content-around">
        <a (click)="['mobile', 'tigo', 'om', 'wari'].includes(item.type) ? openPaymentDialog(item.type)
       : item.type.equalIgnoreCase('cash') ? openCashPaymentDialog() : paymentType = item.type"
           *ngFor="let item of paymentDisplay" class="ui image cursor-pointer" matTooltip="Payer {{item.alt}}"
           matTooltipClass="tooltipClass" matTooltipHideDelay="250" matTooltipShowDelay="0">
          <img [alt]="item.alt" [src]="item.path" style="height: 150px">
        </a>
      </div>
    </div>
    <div class="ui attached segment">
      <div *ngIf="paymentType === 'paypal'">
        <div class="col-12 col-md-8 col-lg-5">
          <ngx-paypal [config]="payPalConfig"></ngx-paypal>
        </div>
      </div>
      <div *ngIf="paymentType === 'card'">
        <app-credit-card></app-credit-card>
      </div>
    </div>
  </div>
</section>
