<!--Footer-->
<footer class="page-footer font-small mt-0">
  <!--Call to action-->
  <div class="pt-4">
    <!--Footer Links-->
    <div class="container text-center rubrique_hide mt-2">
      <div class="row mt-2">
        <!--First column-->
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-3  col-xs-3 mb-0">
          <h6 class="text-uppercase font-weight-bold black-custom"><strong>SERVICE</strong>
          </h6>
          <hr class="info-color mb-0 mt-0 d-inline-block mx-auto" style="width: 1px;">
          <p><a id="footer-link-faq">Aide en ligne</a></p>
          <p><a id="footer-link-browsers">Nous contacter</a></p>
          <p><a id="footer-link-license">Statut des billets</a></p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-3 col-xs-3 col-sm-3 col-xl-3 mx-auto mb-0">
          <h6 class="text-uppercase font-weight-bold black-custom"><strong>POLITIQUE</strong>
          </h6>
          <hr class="info-color mb-0 mt-0 d-inline-block mx-auto" style="width: 1px;">
          <p><a id="footer-link-jquery">Conditions d'utilisation</a></p>
          <p><a>Politique de remboursement</a></p>
          <p><a>Système de facturation</a></p>
        </div>
        <!--/.Second column-->

        <!--Third column -->
        <div class="col-md-2 col-lg-2 col-xs-3 col-sm-3 col-xl-2 mx-auto mb-0">
          <h6 class="text-uppercase font-weight-bold black-custom"><strong>A PROPOS</strong></h6>
          <hr class="info-color mb-0 mt-0 d-inline-block mx-auto" style="width: 1px;">
          <p><a>L'entreprise</a></p>
          <p><a>Carrière</a></p>
          <p><a>Copyright</a></p>
        </div>
        <!--/.Third column-->

        <!--Fourth column-->
        <div class="col-md-6 col-lg-5 col-xs-3 col-sm-3 col-xl-3">
          <h6 class=" font-weight-bold black-custom"><strong>Bookin Pass</strong></h6>
          <hr class="info-color mb-0 mt-0 d-inline-block mx-auto" style="width: 1px;">

          <div class="form-row col-xs-12">
            <div class="inputWithIcon inputIconBg">
              <input class="form-control" placeholder="Recherche" type="text">
              <button class="btn" type="button"><em class="fa fa-arrow-circle-right "></em></button>
            </div>
          </div>
          <p class="mt-3" style="font-size: 12px">
            Soyez informé de toutes nos nouveautés <br>et promotions ainsi des TOP des vols et <br>évènements
          </p>
        </div>
        <!--/.Fourth column-->
      </div>
    </div>

    <!-- Social icons -->
    <div class="pb-3 pt-3 mx-auto text-center rubrique_show rubrique_hide">
      <a><em class="mr-4 font-weight-bold">SERVICE</em></a>
      <a><em class="mr-4 font-weight-bold">POLITIQUE</em></a>
      <a><em class="mr-4 font-weight-bold">A PROPOS</em></a>
      <a><em class="mr-4 font-weight-bold">Bookin Pass</em></a>
    </div>

    <!-- ************************** -->
    <div class="pb-2 pt-2 mx-auto text-center">
      <a class="a-footer-custom"><em class="fa fa-facebook mr-3"></em></a>
      <a class="a-footer-custom"><em class="fa fa-twitter mr-3"></em></a>
      <a class="a-footer-custom"><em class="fa fa-youtube mr-3"></em></a>
      <a class="a-footer-custom"><em class="fa fa-pinterest mr-3"></em></a>
    </div>
    <!-- Social icons -->

    <div class="d-flex justify-content-center text-light footer-copyright">
      <p>BookInPass © Copyright 2020</p>
    </div>
    <!--/.Footer Links-->
  </div>
  <!--/.Call to action-->

</footer>
