footer {
  bottom: 0;
  width: 100%;
  background-color: #ddd;
  color: #222;
}

.rubrique_show {
  color: white;
}

strong, a {
  color: #222 !important;
}

.btn-primary-footer-custom {
  border-color: #ff6600 !important;
  background: #ff6600 !important;
}

.btn-primary-footer-custom:hover {
  border-color: #ff6600 !important;
  background: #ff6600 !important;
}

.a-footer-custom {
  font-size: 40px;
}

.inputWithIcon input[type="text"] {
  padding-right: 56px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 8px;
  color: #fff;
  transition: 0.3s;
}


.inputWithIcon.inputIconBg button {
  background-color: orange;
  padding: 6px 17px;
  border-radius: 0 4px 4px 0;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + button {
  color: #000;
  background-color: #ff6600;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px 8px;
  color: #fff;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + button {
  color: #FF6600;
}

.footer-copyright {
  background-color: #373737;
  height: 45px !important;
  align-items: center;
  margin: 7px 0 0 0;
}

.footer-copyright p {
  font-size: 16px;
  font-weight: bold;
  font-family: "Open Sans", "Roboto Slab", AdineuePRO, Ubuntu, Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.7px;
}

/**
 * Responsive
 */
@media (min-width: 320px) and (max-width: 730px) {
  .color {
    background-color: #51585c;
    color: white;
  }

  .rubrique_hide {
    display: none;
  }

  .rubrique_show {
    display: block;
  }

}

@media (min-width: 730px) and (max-width: 1370px) {
  .rubriqueHide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .footer-copyright {
    margin-left: 12px !important;
  }
}

@media screen and (max-width: 900px) {
  footer {
    background: #fff;
  }
}

@media screen and (min-width: 768px) {
  .inputWithIcon input[type="text"] {
    min-width: 171px;
  }
}

@media screen and (max-width: 767px) {
  .inputWithIcon input[type="text"] {
    min-width: 240px;
  }

  .footer-copyright {
    margin-left: 64px !important;
  }
}

