<div id="main-app-container">
  <app-header (innerWidth)="setInnerWidth($event)"
              (loginEmitter)="login()"
              (logoutEmitter)="logout()"
              (registrationEmitter)="register()"
              (sidebarEmitter)="sidenav.toggle()"
              [client]="client"
              id="app-header-container"></app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="0" class="ui inverted huge vertical menu ios m-0" mode="over">
      <div class="item"><img alt="logo bip" src="../assets/images/logo/bip-logo-small.png"></div>
      <a class="item">Accueil</a>
      <a class="item">Comment ça marche?</a>
      <a class="item">Nous contacter</a>
      <a class="item">A propos</a>

      <div class="ui dividing header">Rechercher un billet</div>
      <div class="item">
        <div class="ui icon input"><input placeholder="Code Billet" type="text"><i class="search icon"></i></div>
      </div>

      <div class="ui dividing header">Votre compte</div>
      <div *ngIf="client" class="item">Bienvenue, {{client.lastName}} {{client.firstName}}</div>
      <div *ngIf="client" class="item" routerLink="">Mon Compte</div>
      <div (click)="logout()" *ngIf="client" class="item">Deconnexion</div>
      <div (click)="login()" *ngIf="!client" class="item">Se connecter</div>
      <div (click)="register()" *ngIf="!client" class="item" id="login-register">Creer un compte</div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer id="app-footer-container"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!--<input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>-->
<!--    <div class="drop-box" ng2FileDrop-->
<!--         [ngClass]="{'dragover': isDropOver}"-->
<!--         [uploader]="uploader"-->
<!--         (fileOver)="fileOverAnother($event)"-->
<!--         (click)="fileClicked()">-->
<!--      <span class="drag-in-title">Import or drag file here</span>-->
<!--      <span class="drag-over-title">Drop the file</span>-->
<!--    </div>-->
<!--<img *ngIf="this.img" [src]="img" alt="me"/>-->
