<div class="d-flex flex-row justify-content-center align-items-center" id="search-main-container">

  <div class="searching-block">
    <div class="ui tabular menu mb-0">
      <a (click)="selectedOption=1" [ngClass]="selectedOption === 1 ? 'active' : ''" class="item cursor-pointer">
        Transport
      </a>
      <a (click)="selectedOption=2" [ngClass]="selectedOption === 2 ? 'active' : ''" class="item cursor-pointer">
        Evenement & Loisir
      </a>
      <a (click)="selectedOption=3" [ngClass]="selectedOption === 3 ? 'active' : ''" class="item cursor-pointer">
        Sport
      </a>
    </div>

    <div class="p-lg-4 p-3 p-sm-4">
      <div *ngIf="selectedOption === 1" class="d-flex flex-row justify-content-content w-100">
        <div (click)="selectedTransport=1" [ngClass]="selectedTransport === 1 ? 'active' : ''" class="choice-block">
          <fa-icon [icon]="faPlane" [size]="'2x'"></fa-icon>
          <p>Avion</p>
        </div>
        <div (click)="selectedTransport=2" [ngClass]="selectedTransport === 2 ? 'active' : ''" class="choice-block">
          <fa-icon [icon]="faShip" [size]="'2x'"></fa-icon>
          <p>Bateau</p>
        </div>
        <div (click)="selectedTransport=3" [ngClass]="selectedTransport === 3 ? 'active' : ''" class="choice-block">
          <fa-icon [icon]="faBus" [size]="'2x'"></fa-icon>
          <p>Bus</p>
        </div>
      </div>
      <div *ngIf="selectedOption === 2" class="d-flex flex-row justify-content-content w-100"></div>
      <div *ngIf="selectedOption === 3" class="d-flex flex-row justify-content-content w-100">
        <div (click)="selectedSport=1" [ngClass]="selectedSport === 1 ? 'active' : ''" class="choice-block">
          <fa-icon [icon]="faFoot" [size]="'2x'"></fa-icon>
          <p>Football</p>
        </div>
        <div (click)="selectedSport=2" [ngClass]="selectedSport === 2 ? 'active' : ''" class="choice-block">
          <fa-icon [icon]="faBasketBall" [size]="'2x'"></fa-icon>
          <p>Basket-Ball</p>
        </div>
        <div (click)="selectedSport=3" [ngClass]="selectedSport === 3 ? 'active' : ''" class="choice-block">
          <img alt="" src="../../../assets/images/icons/wrestling.png" width="27">
          <p>Lutte</p>
        </div>
      </div>
      <div *ngIf="selectedOption === 1" class="mt-2">
        <app-flights *ngIf="selectedTransport === 1"></app-flights>
        <app-boat *ngIf="selectedTransport === 2"></app-boat>
        <app-bus *ngIf="selectedTransport === 3"></app-bus>
      </div>
      <app-event-sport *ngIf="selectedOption === 2 || selectedOption === 3"
                       [option]="selectedOption === 2 ? 'event' : 'sport'"
                       [sportType]="selectedOption === 3 ? selectedSport : null"
                       class="mt-3"></app-event-sport>
    </div>
  </div>

  <ngb-carousel *ngIf="selectedOption===1" [keyboard]="false" [pauseOnHover]="false" [showNavigationArrows]="false"
                [showNavigationIndicators]="false" interval="3000">
    <ng-template *ngFor="let item of variableConfig.flightSlider" ngbSlide>
      <img [src]="item" alt="">
    </ng-template>
  </ngb-carousel>
  <ngb-carousel *ngIf="selectedOption===2" [keyboard]="false" [pauseOnHover]="false" [showNavigationArrows]="false"
                [showNavigationIndicators]="false" interval="3000">
    <ng-template *ngFor="let item of variableConfig.eventSlider" ngbSlide>
      <img [src]="item" alt="">
    </ng-template>
  </ngb-carousel>
  <ngb-carousel *ngIf="selectedOption===3" [keyboard]="false" [pauseOnHover]="false" [showNavigationArrows]="false"
                [showNavigationIndicators]="false" interval="3000">
    <ng-template *ngFor="let item of variableConfig.sportSlider" ngbSlide>
      <img [src]="item" alt="">
    </ng-template>
  </ngb-carousel>
</div>

