<div class="ui form">
  <div class="ui horizontal list flight-type">
    <p [ngClass]="!ticketSearch.oneWay ? 'active' : ''" class="item m-3">
      <a (click)="this.ticketSearch.oneWay = false">Aller-retour</a></p>
    <p [ngClass]="ticketSearch.oneWay ? 'active' : ''" class="item m-0">
      <a (click)="this.ticketSearch.oneWay = true">Aller simple</a></p>
  </div>

  <div class="ui two fields">
    <div class="ui field">
      <input (blur)="updateSelection(null)" (focus)="fuseSearch(true)" (keyup)="fuseSearch(true)"
             [(ngModel)]="fuseKeySearchDepart" id="field__ref" name="fuse" placeholder="Depart" type="text">
    </div>
    <div class="ui field">
      <input (blur)="updateSelection(null)" (focus)="fuseSearch(false)" (keyup)="fuseSearch(false)"
             [(ngModel)]="fuseKeySearchReturn" name="fuse" placeholder="Arrive" type="text">
    </div>

    <div class="ui vertical menu fuse__display__result" id="fuse__block">
      <div (click)="updateSelection(item)" *ngFor="let item of fuseResultList"
           class="item d-flex flex-row justify-content-between align-items-center cursor-pointer">
        <div class="fuse__details">{{item.airportName}}
          <div>{{item.city}}, {{item.countryName}}</div>
        </div>
        <div class="fuse__iata">
          <span>{{item.iata.toUpperCase()}}</span>
        </div>
      </div>
      <div *ngIf="this.fuseResultList.length === 0" style="color: #004e93; text-align: center">
        Nous n'avons pas trouve de correspondance pour cette recherche!
      </div>
      <div class="item fuse__close">
        <button>fermer</button>
      </div>
    </div>
  </div>

  <div class="ui two fields">
    <div class="field">
      <div class="ui left action input fluid">
        <button class="ui white labeled icon button cursor-default">Départ le</button>
        <input [(ngModel)]="ticketSearch.departure" class="w-100 border-0" name="departure" type="date"/>
      </div>
    </div>
    <div class="field">
      <div class="ui left action input fluid p-0">
        <button class="ui white labeled icon button cursor-default">Retour le</button>
        <input [(ngModel)]="ticketSearch.return" [disabled]="ticketSearch.oneWay" class="w-100 border-0" name="return" type="date"/>
      </div>
    </div>
  </div>

  <div class="d-flex flex-md-row justify-content-between text-white last-row">
    <div class="ui fields mb-0 flex-column justify-content-start half-width">
      <div class="field d-flex flex-row flex-nowrap passenger_selection">
        <p class="mb-0 text-underline">Adulte (+12ans):</p>
        <fui-select [(ngModel)]="ticketSearch.adults">
          <fui-select-option [value]="1">1</fui-select-option>
          <fui-select-option [value]="2">2</fui-select-option>
          <fui-select-option [value]="3">3</fui-select-option>
          <fui-select-option [value]="4">4</fui-select-option>
          <fui-select-option [value]="5">5</fui-select-option>
        </fui-select>
      </div>
      <div class="field d-flex flex-row flex-nowrap passenger_selection">
        <p class="mb-0 text-underline">Enfant (-12ans):</p>
        <fui-select [(ngModel)]="ticketSearch.children">
          <fui-select-option [value]="0">0</fui-select-option>
          <fui-select-option [value]="1">1</fui-select-option>
          <fui-select-option [value]="2">2</fui-select-option>
          <fui-select-option [value]="3">3</fui-select-option>
          <fui-select-option [value]="4">4</fui-select-option>
        </fui-select>
      </div>
      <div class="field d-flex flex-row flex-nowrap passenger_selection">
        <p class="mb-0 text-underline">Bébé (-2ans):</p>
        <fui-select (selectedOptionChange)="selectPassenger()" [(ngModel)]="ticketSearch.infants">
          <fui-select-option [value]="0">0</fui-select-option>
          <fui-select-option [value]="1">1</fui-select-option>
          <fui-select-option [value]="2">2</fui-select-option>
          <fui-select-option [value]="3">3</fui-select-option>
          <fui-select-option [value]="4">4</fui-select-option>
        </fui-select>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-around half-width">
      <div class="dropdown dropdown-class">
        <button class="dropdownBtn">
          Classe: {{ticketSearch.travelClass === 'ECONOMY' ? 'Économique' :
          ticketSearch.travelClass === 'PREMIUM_ECONOMY' ? 'Économique Prémium' : ticketSearch.travelClass === 'BUSINESS' ? 'Affaires' :
            ticketSearch.travelClass === 'FIRST' ? 'Première Classe' : '' | titlecase}}
          <i class="dropdown icon"></i>
        </button>
        <div class="dropdown-content">
          <div (click)="ticketSearch.travelClass = 'ECONOMY'" class="cursor-pointer item">Économique</div>
          <div (click)="ticketSearch.travelClass = 'PREMIUM_ECONOMY'" class="cursor-pointer item">Économique Premium</div>
          <div (click)="ticketSearch.travelClass = 'BUSINESS'" class="cursor-pointer item">Affaires</div>
          <div (click)="ticketSearch.travelClass = 'FIRST'" class="cursor-pointer item">Première Classe</div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="ui checkbox">
          <input [(ngModel)]="ticketSearch.nonStop" type="checkbox"/>
          <label>Vol Direct</label>
        </div>
        <button (click)="searchFlight()" class="search-btn">Rechercher</button>
      </div>
    </div>
  </div>
</div>
