@import "./assets/css/payexpresse.min.css";
@import "./assets/css/fonts.css";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body,
:not(.icon),
:not(.fa-icon) {
  font-family: Ubuntu, "Open Sans", AdineuePRO, sans-serif;
}

/* Sweet Alert2 button style */

.swal2-confirm,
.swal2-cancel {
  min-width: 100px;
  max-width: max-content;
}

.swal2-confirm {
  background-color: darkorchid !important;
  font-family: "Roboto Slab", AdineuePRO, Ubuntu, "Open Sans", Roboto, serif !important;
}

.swal2-cancel {
  background-color: darkgoldenrod !important;
  margin-left: 20px;
  font-family: "Roboto Slab", AdineuePRO, Ubuntu, "Open Sans", Roboto, serif !important;
}

.swal2-icon,
.swal2-icon.swal2-success .swal2-success-ring,
.swal2-icon.swal2-success [class^="swal2-success-line"] {
  border-color: #f60 !important;
  color: #f60 !important;
}

.swal2-title {
  font-family: 'Oswald', serif;
  color: #2daae1 !important;
}

.swal2-content {
  font-family: "Roboto Slab", AdineuePRO, Ubuntu, "Open Sans", Roboto, serif !important;
}

.card-header,
h1,
h2,
h3 {
  font-family: "Roboto Slab", AdineuePRO, Ubuntu, "Open Sans", Roboto, serif !important;
}

.backdropClass {
  background-color: #333;
  opacity: 0.75 !important;
}

.custom-mat-dialog > mat-dialog-container {
  padding: 0;
  font-size: 14px;
  overflow: hidden;
  max-height: 90vh;
  font-family: Ubuntu, AdineuePRO, "Open Sans", Roboto, sans-serif !important;
}

.custom-register-dialog > mat-dialog-container {
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Ubuntu, AdineuePRO, "Open Sans", sans-serif !important;
}

.custom-itinerary-dialog > mat-dialog-container {
  padding: 0;
  font-size: 12px;
}

.custom-register-dialog .mat-dialog-container {
  padding-left: 10px;
  padding-right: 10px;
}

#user-details-ticket-dialog {
  padding: 0 !important;
}

.mat-step-header[aria-selected=true] ~ .mat-stepper-vertical-line::before {
  border-left-width: 0;
}

::ng-deep .mat-vertical-content-container {
  margin-left: 4px !important;
}

.mat-vertical-content {
  padding: 0 15px 10px 15px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-default {
  cursor: default !important;
}

.text-underline:hover {
  text-decoration: underline !important;
}

.underlined {
  text-decoration: underline !important;
}

.text-white {
  color: white !important;
}

.h7 {
  font-size: 12px !important;
}

.w-available {
  width: available;
  width: -moz-available;
}

/*<!-- custom select dropdown-->*/

select.dropdown {
  cursor: pointer;
  padding: 10px !important;
  font-size: 14px;
  color: #666666 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: url('assets/images/icons/dropdown_icon.png') no-repeat 97% 50% #ffffff !important;
}

select.dropdown:hover,
select.dropdown:focus {
  border-color: #85b7d9 !important;
  box-shadow: none !important;
}

/****************************** form validation ************************/
.invalid-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray !important;
  opacity: 0.7 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey !important;
}

#first-td > section {
  border-top: 5px solid #27a0a0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/*ngx-chips tags*/
.ng2-tags-container {
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 13px;
  font-family: Ubuntu, "Open Sans", AdineuePRO, sans-serif;
}

.ng2-tags-container > form {
  margin-right: 5px;
}

tag-input-form {
  margin-right: 5px;
}

tag {
  background-color: #f60 !important;
  border-radius: 5px !important;
  height: 100% !important;
}

.tag__text.inline {
  letter-spacing: 0.05rem !important;
  line-height: 31px !important;
  cursor: pointer !important;
  font-size: 13px !important;
  color: #fff !important;
  font-family: "open sans", ubuntu, sans-serif !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
}

delete-icon svg {
  vertical-align: middle !important;
  height: 100% !important;
}

delete-icon path {
  fill: white !important;
}

/****************** NGX_SLIDER ********************/
.ngx-slider > * {
  font-size: 1rem !important;
}

.ngx-slider-combined {
  width: 100% !important;
  text-align: center !important;
}

.ngx-slider .ngx-slider-pointer::after {
  width: 6px !important;
  height: 6px !important;
  top: 9px !important;
  left: 9px !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 24px !important;
  height: 24px !important;
  top: -10px !important;
  background-color: #6435c9 !important;
}

.ngx-slider .ngx-slider-selection {
  background: #6435c9 !important;
}

.ngx-slider .ngx-slider-pointer .ngx-slider-active::after {
  background-color: white !important;
}

/************************************************ Multi Select Dropdown *****************************/
.multiSelectDropdown .c-btn {
  background-color: whitesmoke;
  font-size: 14px;
  color: black;
}

.multiSelectDropdown .dropdown-list {
  bottom: unset !important;
}

.multiSelectDropdown .arrow-down {
  display: none;
}

.multiSelectDropdown .list-area > div {
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1400px !important;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 !important;
  }
}

@media print {

  .ticket-container {
    margin: 0 !important;
  }

  /*app-root > * {*/
  /*  display: none*/
  /*}*/
  /*app-root > app-print-flight-ticket {*/
  /*  display: block*/
  /*}*/
}
